In [8]:
import pandas as pd

df = pd.read_csv("C:/Users/Platini AGOUANET/OneDrive/Desktop/UQO-Automne/Fouille et entreposage/Projet 2/INF5173-P2-Equipe15/data/raw/Retail_Transactions_Dataset.csv")  # ou sample
print(df.head())
print(df.shape)
print(df.columns)

   Transaction_ID                 Date      Customer_Name  \
0      1000000000  2022-01-21 06:27:29       Stacey Price
1      1000000001  2023-03-01 13:01:21   Michelle Carlson
2      1000000002  2024-03-21 15:37:04        Lisa Graves
3      1000000003  2020-10-31 09:59:47  Mrs. Patricia May
4      1000000004  2020-12-10 00:59:59     Susan Mitchell

                                             Product  Total_Items  Total_Cost  \
0        ['Ketchup', 'Shaving Cream', 'Light Bulbs']            3       71.65
1  ['Ice Cream', 'Milk', 'Olive Oil', 'Bread', 'P...            2       25.93
2                                        ['Spinach']            6       41.49
3                             ['Tissues', 'Mustard']            1       39.34
4                                      ['Dish Soap']           10       16.42

   Payment_Method           City        Store_Type  Discount_Applied  \
0  Mobile Payment    Los Angeles    Warehouse Club              True
1            Cash  San Francisco   Specialty Store              True
2     Credit Card        Houston  Department Store              True
3  Mobile Payment        Chicago          Pharmacy              True
4      Debit Card        Houston   Specialty Store             False

  Customer_Category  Season                   Promotion
0         Homemaker  Winter                         NaN
1      Professional    Fall      BOGO (Buy One Get One)
2      Professional  Winter                         NaN
3         Homemaker  Spring                         NaN
4       Young Adult  Winter  Discount on Selected Items
(1000000, 13)
Index(['Transaction_ID', 'Date', 'Customer_Name', 'Product', 'Total_Items',
       'Total_Cost', 'Payment_Method', 'City', 'Store_Type',
       'Discount_Applied', 'Customer_Category', 'Season', 'Promotion'],
      dtype='object')

In [14]:

summary = []
for col in df.columns:
    nunique = df[col].nunique()
    null_rate = df[col].isna().mean()
    sample_vals = df[col].dropna().astype(str).head(3).tolist()
    summary.append((col, df[col].dtype, nunique, f"{null_rate:.2%}", sample_vals))

prof = pd.DataFrame(summary, columns=["column","dtype","nunique","null_rate","samples"]).sort_values("nunique")
# Heuristique dimension potentielle:
prof["dimension_candidate"] = (
    (prof["dtype"].astype(str).str.contains("object|category")) &
    (prof["nunique"].between(2, 200000))  # seuil large;
)
print(prof.head(30))

               column    dtype  nunique null_rate  \
12          Promotion   object        2    33.39%
9    Discount_Applied     bool        2     0.00%
6      Payment_Method   object        4     0.00%
11             Season   object        4     0.00%
8          Store_Type   object        6     0.00%
10  Customer_Category   object        8     0.00%
7                City   object       10     0.00%
4         Total_Items    int64       10     0.00%
5          Total_Cost  float64     9501     0.00%
2       Customer_Name   object   329738     0.00%
3             Product   object   571947     0.00%
1                Date   object   996337     0.00%
0      Transaction_ID    int64  1000000     0.00%

                                              samples  dimension_candidate
12  [BOGO (Buy One Get One), Discount on Selected ...                 True
9                                  [True, True, True]                False
6                 [Mobile Payment, Cash, Credit Card]                 True
11                             [Winter, Fall, Winter]                 True
8   [Warehouse Club, Specialty Store, Department S...                 True
10            [Homemaker, Professional, Professional]                 True
7               [Los Angeles, San Francisco, Houston]                 True
4                                           [3, 2, 6]                False
5                               [71.65, 25.93, 41.49]                False
2       [Stacey Price, Michelle Carlson, Lisa Graves]                False
3   [['Ketchup', 'Shaving Cream', 'Light Bulbs'], ...                False
1   [2022-01-21 06:27:29, 2023-03-01 13:01:21, 202...                False
0                [1000000000, 1000000001, 1000000002]                False

               ┌───────────────┐
               │   DimDate     │
               └──────┬────────┘
                      │
               ┌──────┴────────┐
               │   FactSales    │
               └──────┬────────┘
        ┌─────────────┼───────────────┐
   ┌────┴────┐    ┌───┴────┐     ┌────┴────┐
   │DimStore │    │DimProduct│    │DimCustomer│
   └─────────┘    └──────────┘    └───────────┘
          └────────┬─────────┘
               ┌────┴─────┐
               │DimPayment│
               └──────────┘

In [11]:
df1=df[['Promotion', 'Discount_Applied']]
df1

                         Promotion  Discount_Applied
0                              NaN              True
1           BOGO (Buy One Get One)              True
2                              NaN              True
3                              NaN              True
4       Discount on Selected Items             False
...                            ...               ...
999995                         NaN             False
999996  Discount on Selected Items              True
999997                         NaN             False
999998      BOGO (Buy One Get One)              True
999999  Discount on Selected Items             False

[1000000 rows x 2 columns]